.add-form {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 50px;
  gap: 10px;
  height: 40px;
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 5px;
}

.add-form input {
  border-radius: 5px;
  padding-left: 15px;
}
